@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #00c6fb;

    --background: 205 65% 3.92%;
    --foreground: 205 10% 97.45%;

    --muted: 205 50% 14.7%;
    --muted-foreground: 205 10% 54.9%;

    --popover: 205 45% 6.37%;
    --popover-foreground: 205 10% 97.45%;

    --card: 205 45% 6.37%;
    --card-foreground: 205 10% 97.45%;

    --border: 205 50% 14.7%;
    --input: 205 50% 14.7%;

    --primary: 205 100% 49%;
    --primary-foreground: 205 10% 4.9%;

    --secondary: 205 50% 14.7%;
    --secondary-foreground: 205 10% 97.45%;

    --accent: 205 50% 14.7%;
    --accent-foreground: 205 10% 97.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 205 10% 97.45%;

    --ring: 205 100% 49%;
  }
  --radius: 0.5rem;
}
